.container {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 16px;
}

.card {
  display: flex;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
