MONGODB_URI="mongodb+srv://usuario:password@cluster.mongodb.net/?retryWrites=true&w=majority"
MONGODB_DB="imagenes"
MONGODB_COLLECTION="imagenes"

GROQ_API_KEY="gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
GROQ_MODEL="meta-llama/llama-4-scout-17b-16e-instruct"

S3_ACCESS_KEY_ID="xxxxxxxxxxxxxxxxxxxx"
S3_SECRET_ACCESS_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
S3_ENDPOINT="https://s3.filebase.io"
S3_REGION="us-east-1"
S3_BUCKET_NAME="tu-bucket"
